{% extends "forum/base.html" %}
{% block main %}
<style>
@media screen and (max-width: 700px) {
  #sidebar {
    display: none !important;
  }

  #normal_nav {
    display: none !important;
  }
}

@media screen and (min-width: 700px){
  #sidebar {
    display: block !important;
  }

  #mobile_nav {
    display: none !important;
  }
}

</style>

<div class="ui container" style="margin-top: 2rem;">
  <div class="ui two column row grid stackable">

    <div class="twelve wide column" id="main">
      <div class="ui divided vertically divided grid">
      {% if posts %}
      {% for post in posts %}
      <div class="ui items row" style="margin: 0 1.5rem;">
        <div class="item">
          <div class="content" onclick="javascript:location.href='{% url 'forum:post_detail' post.id %}'" style="cursor: pointer;">
            <a class="header">{{ post.title }}</a>
            <div class="meta">
              <span>{{ post.owner.profile.nickname }}|{{ post.time|date:"Y-m-d H:i:s" }}</span>
            </div>
            <div class="extra">{{ post.partition }} </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      </div>
    </div>

    <div class="four wide column" id="sidebar">
      <div class="ui middle right vertical menu" id="select">
        <a class=" item selectItem" id="selectAll" href="{% url 'forum:posts' %}">
          <div class="ui  label">{{ post_number.all }}</div>All
        </a>
        <a class="item selectItem" id="selectChat" value="Chat" href="{% url 'forum:post_chat' %}">
          <div class="ui label">{{ post_number.chat }}</div>Chat
        </a>
        <a class="item selectItem" id="selectAnnouncement" href="{% url 'forum:post_announcement' %}">
          <div class="ui label">{{ post_number.announcement }}</div>Announcement
        </a>
        <a class="item selectItem" id="selectTransaction" href="{% url 'forum:post_transaction' %}">
          <div class="ui label">{{ post_number.transaction }}</div>Transaction
        </a>
        <a class="item selectItem" id="selectActivity" href="{% url 'forum:post_activity' %}">
          <div class="ui label">{{ post_number.action }}</div>Activity
        </a>
      </div>

      <div class="ui middle right vertical menu" id="serch_and_add">
        <a class="item" href="#" id="addNewPostButtonPC">
          <div class="ui label teal">+</div>Add new
        </a>
      <div class="item">
        <form method="get" action="{% url 'forum:search' %}">
          {% csrf_token %}
          <div class="ui action input mini">
            <input type="text" placeholder="Search post..." name="search">
            <button class="ui button icon" type="submit">
              <i class="search icon"></i>
            </button>
        </form>
      </div>
      </div>

    </div>
  </div>
</div>

  <p class="ui page grid">
  {# topics.paginator.page_range 这个函数返回包含一个所有页码数的 range 对象 #}
  {# 即 range(1, topics.paginator.num_pages + 1) #}
  {% for page_number in posts.paginator.page_range %}
    {% ifequal page_number  posts.number %}
      <button class="ui button primary">{{ page_number }}</button>
    {% else %}
      <a href="?page={{ page_number }}" class="ui button">{{ page_number }}</a>
    {% endifequal %}
  {% endfor %}
</p>

  <div class="ui modal" id="addNewPostModel">
  <i class="close icon"></i>
  <div class="header">
    Add new post
  </div>
  <div class="content">
    <form class="ui form" action="" method="post">
      {% csrf_token %}
      <div class="six wide field">
      <label>Partition</label>
      <div class="ui selection dropdown" id="selectNewPostPartition">
          <input type="hidden" name="partition" id="newPostPartition">
          <i class="dropdown icon"></i>
          <div class="default text">Partition</div>
          <div class="menu">
              <div class="item" data-value="Announcement">Announcement</div>
              <div class="item" data-value="Activity">Activity</div>
              <div class="item" data-value="Chat">Chat</div>
              <div class="item" data-value="Transaction">Transaction</div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Title</label>
        <input id="newPostTitle" type="text" autocomplete="off">
      </div>
      <div class="field">
        <label>Text</label>
        <textarea id="newPostContent"></textarea>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui button" id="cancelNewPost">Cancel</div>
    <div class="ui button" id="createNewPost">OK</div>
  </div>
</div>

<div class="ui modal" id="addPostBlank">
  <i class="close icon"></i>
  <div class="header">
    Tip
  </div>
  <div class="image content">
    <div class="description">
      Please fill in all fields
    </div>
  </div>
  <div class="actions">
    <div class="ui button" id="addPostBlankOK">OK</div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
        $('#addNewPostButton').click(function (e) {
            e.preventDefault();
            $('#addNewPostModel').modal('show');
            $('#selectNewPostPartition').dropdown();
        });


        $('#addNewPostButtonPC').click(function (e) {
            e.preventDefault();
            $('#addNewPostModel').modal('show');
            $('#selectNewPostPartition').dropdown();
        })
    });

    // csrf for ajax
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function () {
        $('#cancelNewPost').on('click', function (e) {
            e.preventDefault();
            $('#addNewPostModel').modal('hide');
        });

        $('#addPostBlankOK').on('click', function (e) {
            e.preventDefault();
            $('#addPostBlank').modal('hide');
        })
    });


    $('#createNewPost').on('click', function (e) {
        e.preventDefault();
        let data = {
            'newPostPartition': $('#newPostPartition').val(),
            'newPostTitle': $('#newPostTitle').val(),
            'newPostContent': $('#newPostContent').val()
        };
        if (data.newPostPartition === '' || data.newPostTitle === '' || data.newPostContent === '') {
            $('#addPostBlank').modal('show');
        } else {
            $.ajax({
                url: '{% url 'forum:post_create' %}',
                method: 'POST',
                data: data,
                dataType: 'json'
            })
                .done(function (res) {
                    $('#addNewPostModel').modal('hide');
                    window.location.replace('{% url 'forum:posts' %}');
                })
        }
    });

     $(document).ready(function () {
        $("#select a").removeClass("active");
        $("#select a div").removeClass("teal");
        $('#select a').each(function () {
            var href = $(this).attr('href').split('/');
            var url = window.location.href.split('/');
            var cur_url = (url.slice(-2))[0];
            if (href[2] == cur_url) {
                console.log($(this))
                $(this).addClass('active');
                $(this).children('div').addClass('teal');
            } else if (cur_url == 'posts') {
                $('#selectAll').addClass('active');
                $('#selectAll').children('div').addClass('teal');
            }
        })

     })


  </script>
{% endblock %}