{% extends "forum/base.html" %}
{% block main %}
<div class="ui container" style="margin-top: 2rem;">
  <div class="ui two column grid row">
    <div class="ui twelve wide column">
      <h2 class="ui dividing header">{{ post.title }}</h2>
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
{#            <img src="/images/avatar/small/stevie.jpg">#}
          </a>
          <div class="content">
            <a class="author">Stevie Feliciano</a>
            <div class="metadata">
              <div class="date">2 天前</div>
              <div class="rating"><i class="star icon"></i> 5 Faves </div>
            </div>
            <div class="text">{{ post.content }} </div>
          </div>
        </div>
      </div>

      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        <div class="comment">
          <a class="avatar">
{#            <img src="/images/avatar/small/matt.jpg">#}
          </a>
          <div class="content">
            <a class="author">Matt</a>
            <div class="metadata">
              <span class="date">今天下午 5:42</span>
            </div>
            <div class="text">太赞了！ </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
{#            <img src="/images/avatar/small/elliot.jpg">#}
          </a>
          <div class="content">
            <a class="author">Elliot Fu</a>
            <div class="metadata">
              <span class="date">昨天上午12:30</span>
            </div>
            <div class="text">
              <p>這對我的研究是非常有用.謝謝!</p>
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}