{% extends "forum/base.html" %}
{% load static %}
{% block main %}
<div>
  <div class="ui container" style="margin-top: 2rem;">
    <img class="ui centered  image circular small bordered" src="{% static avatar %}">
    <h4 class="ui center aligned header">{{ email }}</h4>
    <h4 class="ui center aligned header">{{ nickname }}</h4>
    <h4 class="ui horizontal divider header"><i class="tag icon"></i> My Comments </h4>
    <div class="ui eight column wide ">
      {% if my_comment %}
        {% for comment in my_comment %}
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header">{{ comment.content }}</div>
              <div class="meta">{{ comment.time }}</div>
              <div class="description">{{ comment.post }} </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p class="ui center aligned header"> No Comments Here</p>
      {% endif %}
    </div>

    <h4 class="ui horizontal divider header"><i class="tag icon"></i> My Posts </h4>
    <div class="ui eight column wide">
      {% if my_post %}
        {% for post in my_post %}
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header">{{ post.title }}</div>
              <div class="meta">{{ post.time }}</div>
              <div class="description">{{ post.content }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
        <p class="ui center aligned header"> No Posts Here</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}

